@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  background: #24252A;
}

nav {
  position: sticky;
  display: flex;
  height: 10vh;
  background: #a2b1fa;
  border-radius: 10px;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  top: 0;
}
a:hover{
  color: #d96675;
}
.logo{
  width: 20vh;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  margin: 20px;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav_links li, a {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.nav_links li a:hover{
  color: #0088a9;
}

.Inicio{
  padding: 100px 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: #FAFAED;
  margin: 100px;
  box-sizing: content-box;
  border-radius: 30px;
}

.Inicio h1{

  font-family: 'Monsterrat', sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: #24252A;
  text-decoration: none;
}
.Inicio p{
  flex-grow: 5:
  font-family: 'Monsterrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #24252A;
  text-decoration: none;
}

.Introduccion{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 100px 150px;
  background-color: #FAFAED;
  margin: 100px;
  box-sizing: content-box;
  border-radius: 30px;
}
.Introduccion h1{
  padding-bottom: 20px 0;
}
h2{
  font-weight: 400;
  font-size: 52px;
  text-decoration: none;
}

.Introduccion li{
  font-family: 'Monsterrat', sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 42px;
  text-decoration: none;
  padding: 10px 0;
}
.Introduccion p{
  font-family: 'Monsterrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #24252A;
  text-decoration: none;
}

.Planificacion{
  padding: 100px 150px;
  background-color: #FAFAED;
  margin: 100px;
  box-sizing: content-box;
  border-radius: 30px;
}
.Planificacion h1{
  padding-bottom: 20px 0;
  font-weight: 400;
  font-size: 52px;
  text-decoration: none;
}
.Planificacion h2{
  padding-bottom: 20px 0;
  font-weight: 400;
  font-size: 32px;
  text-decoration: none;
}
.Planificacion ol{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  box-shadow: 5px 5px 5px 3px #888888;
}
.Planificacion li{
  font-family: 'Monsterrat', sans-serif;
  color: #000;
  font-weight: 400;
  background: #e3e3da;
  text-align: right;
}
.firstday{
  grid-column-start: 6;
}

.dayname{
  background: #f01a1a;
  font-weight: 600;
  text-align: center;
}
.deadline{
  color: #fc0000;
}
.Stake{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 100px 150px;
  background-color: #FAFAED;
  margin: 100px;
  box-sizing: content-box;
  border-radius: 30px;
}
.Stake h1{

  font-family: 'Monsterrat', sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: #24252A;
  text-decoration: none;
}
.Stake p{
  flex-grow: 5:
  font-family: 'Monsterrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #24252A;
  text-decoration: none;
}
button{
  box-sizing: content-box;
  height: 40px;
  margin: 0 20px;
}
.submit-feedback {
  border-radius: 10px;
  border: none;
  background-color : transparent;
  transition: background-color 0.3s linear;
}
.submit-feedback a:hover{
  color: #edf0f1;
}
.submit-feedback:hover {
  background-color: #84B0D2;
  }

.lector{
  margin: 0 200px;
  margin-bottom: 200px;
}
@media screen and (max-width: 800px){
  h1{
    padding-bottom: 20px 0;
    font-weight: 400;
    font-size: 42px;
  }
  h2{
    font-size: 22px;
  }
  nav{
    top: auto;
    bottom: 0;
    position: sticky;
    justify-content: flex-start;
  }
  .bar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .nav_links{
    width: auto;
    position: unset;
    transform: none;
  }
  .logo{
    display: none;
  }
  .nav_links{
    align-items: baseline;
  }
  .nav_links li{
    font-weight: 500;
    font-size: 10px;
  }
  .contenido{

  }
  .in_img{
    padding: 0px 20%;
    margin-top: 50px;
    display: none;
  }
  .Inicio{
    padding: 50px 100px;
  }
  .Inicio h1{
    font-weight: 600;
    font-size: 32px;
    color: #24252A;
  }
  .Inicio p{
    flex-grow: 5:;
    font-weight: 600;
    font-size: 20px;
    color: #24252A;
  }
  .Introduccion{
    padding: 50px 100px;
  }
  .Introduccion li{
    color: #000;
    font-weight: 700;
    font-size: 22px;
    padding: 10px 0;
  }
  .Introduccion p{
    font-weight: 500;
    font-size: 20px;
    color: #24252A;
  }
  .Planificacion{
    padding: 50px 50px;
    background-color: #FAFAED;
    margin: 100px;
    box-sizing: content-box;
    border-radius: 30px;
  }
  .Stake{
    padding: 50px 100px;
  }
  .Stake h1{
    font-weight: 600;
    font-size: 32px;
    color: #24252A;
  }
  .Stake p{
    flex-grow: 5:;
    font-weight: 600;
    font-size: 20px;
    color: #24252A;
  }
}
